body{
	border:1px solid black;
	margin-left:100px;
	margin-right:100px;
	padding-bottom:20px;
	font-family:cambria;}
		
h1{
	text-align:center;
	background-color:#335485;
	color:white;
	font-weight:normal;
	}
	
/* Section that accepts user input*/
.input{text-align:center;}

/* Section that displays the newly generated password*/
.display_div{
	text-align:center;
	border:1px solid #D1D1FF;
	margin-left:100px;
	margin-right:100px;
	background-color:#EBEBEB;
	color:black;
	font-size:30px;
	font-family:calibri;
	}
	
/* Section containing the xkcd information*/	
.info{ 
	text-align:justify;
	padding-left:20px;
	padding-right:20px;}
.xkcd_info{
	float:right;
	width:550px;
	margin-top:-420px;
	}